@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: Lato, sans-serif;
}

header{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("banner-04.jpg");
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
    
      height: 30vh;
  }

 
.about-heading h1{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
.about-section{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-header{
    text-align: left;
}
.about-header h2{
    font-size: 25px;
}
.about-header p{
    font-size: 14px;
    line-height: 1.5rem;
    margin-bottom: 50px;
}
.about-img img{
    width: 350px;
    height: 228px;
    margin-bottom: 50px;
    
    
}
.team{
    background: #f5f7f9;
}
.team-section{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-section h2{
    font-size: 18px;
}

.team-section h1{
    font-size: 25px;
}
.team-section p{
    font-size: 14px;
    line-height: 1.5rem;
}

.card-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 50px;
    
  }

  .card {
    width: 100%;
    max-width: 300px;
    background: white;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  .card img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .card h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
  }

  .card p {
    font-size: 14px;
    color: #666;
  }

@media only screen and (min-width: 992px) {
    header{
        height: 70vh;
    }
    .about-heading h1{
        font-size: 66px;
        margin-top: 150px;
    }
    .about-section{
        flex-direction: row;
        gap: 50px;
    }
    .about-header h2{
        font-size: 42px;
    }
    .about-header p{
        font-size: 16px;
    }
    .about-img img {
        width: 555px;
        height: 300px;
    }
    .team-section{
        width: 50%;
    }
    .card-grid {
        width: 50%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      .card {
        width: 200px;
      }
    
}